<h1>Questions Index Page</h1>
<p>I am found with the questions#index controller action</p>
<p>and this route: get('/questions', {to: 'questions#index', as: :questions_index}</p>

<%= render 'list' %>
